body {
            margin: 0;
        }


        #miniheadercont {
            display: flex;
            position: relative;
            width: 100%;
            align-items: center;
        }
        
        #logo {
            width: 100px;
            height: 100px;
            text-align: left;
        }

        #logo:hover {
            opacity: 0;
        }

        #logo_container:hover {
            border-radius: 100%;
            background-image: url(images/WiskerVolt.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
        }

        header h1 {
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        #mainimgsec {
            width: 100%;
            height: 300px;
            display: block;
        }


        #mainimgsec img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        nav {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 66%;
            margin: 20px auto;
            text-align: center;
            column-gap: 2px;
        }

        .navlinkcon {
            width: 100%;
            border: solid black 2px;
            border-radius: 10px 10px 2px 2px;
            height: 100%;
            align-items: center;
            display: flex;
        }

        #navlinkcon3 a:hover {
            color: white;
        }

        #navlinkcon3:hover {
            background-image: url(images/GlacierStep.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
        }

        .navlinkcon img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            z-index: -1;
        }

        .navlink {
            display: flex;
            margin: 5px;
            width: 100%;
            height: 11vw;
            justify-content: center;
            align-items: center;
        }

        .navlinka {
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
            font-size: 2em;
            font-weight: 400;
            display: flex;              
            justify-content: center;     
            align-items: center;
        }

        #text-main-section {
            display: grid;
            grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
            grid-template-rows: 50px auto;
            gap: 20px;
            row-gap: 5px;
        }

        #text-main-section h2 {
            justify-self: stretch;
            grid-row: 1/2;
            grid-column: 1/5;
            text-align: center;
            align-self: bottom;
        }

        #p1 {
            justify-self: stretch;
            grid-row: 2/3;
            grid-column: 2/3;
        }

        #p2 {
            justify-self: stretch;
            grid-row: 2/3;
            grid-column: 3/4;
        }

        #p3 {
            justify-self: stretch;
            grid-row: 3/4;
            grid-column: 2/3;
        }

        #p4 {
            justify-self: stretch;
            grid-row: 3/4;
            grid-column: 3/4;
        }

        #p5 {
            justify-self: stretch;
            grid-row: 4/5;
            grid-column: 2/3;
        }

        #p6 {
            justify-self: stretch;
            grid-row: 4/5;
            grid-column: 3/4;
        }

        #p7 {
            justify-self: stretch;
            grid-row: 5/6;
            grid-column: 2/4;
        }

        #ember_section {
            width: 100%;
            height: 100%;
            grid-row: 1/2;
            grid-column: 1/2;
        }

        #ember_section img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: 0;
        }

        #ember_section img:hover {
            opacity: 1;
        }

        #trap {
            width: 100%;
            display: grid;
            grid-template-columns: .05fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .05fr;
            grid-template-rows: 1fr .05fr;
            gap: 15px;
        }

        .trap1 {
            justify-self: stretch;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            background-color: black;
        }

        #hint {
            text-align: center;
            align-content: center;
        }

        #hint:hover {
            background-color: transparent;
        }

        #hint p {
            font-size: .25em;
        }

        #p6:hover {
            background-image: url(images/MossClaw.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        /* Frostbite Easter Egg */
        @keyframes shimmer {
            0%, 70%, 100% {
                color: inherit;
                text-shadow: none;
            }
            85% {
                color: #a8d4ff;
                text-shadow: 0 0 8px rgba(168, 212, 255, 0.8);
            }
        }

        .winter-keyword {
            cursor: pointer;
            animation: shimmer 10s infinite;
        }

        #frostbite-reveal {
            position: relative;
            margin: 2rem auto;
            display: block;
            text-align: center;
            width: 250px;
            opacity: 0;
            transition: opacity 0.6s ease;
            z-index: 100;
        }

        #frostbite-reveal img {
            width: 100%;
            border-radius: 10px;
            box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
        }

        .winter-keyword:hover ~ #frostbite-reveal,
        #text-main-section:has(.winter-keyword:hover) ~ #frostbite-reveal {
            opacity: 1;
        }
